html, body {
    height: 100% !important;
}

#qrcode{
    padding-bottom: 10px;
}

.full-height { display: flex; flex-direction: column; height: 100%; }
.fill-height { flex-grow: 1; width: 100%; }
.controlsdiv { display: table; width: 100%; }
